<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - proyectoFinalDev</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/proyectoFinalDev.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-#1190CB border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
    <li><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
    <li>
     <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Productos">Productos</a>
      <ul>
        <div class="container">
            <div class="row">
                <li><a href="#0">Cuadernos</a></li>
                  <li><a href="#0">Lapices</a></li>  
                    <li><a href="#0">Lapiceras</a></li>
                   <li><a href="#0">resaltadores</a></li> 
                  <li><a href="#0">marcadores</a></li>  
                    <li><a href="#0">hojas</a></li>
                    <li><a href="#0">cartulinas</a></li>
                     <li><a href="#0">reglas</a></li>
                   <li><a href="#0">tijeras</a></li> 
                  <li><a href="#0">gomas</a></li>  
                 <li><a href="#0">adhesivos</a></li>   
                  
                  </div>
        </div>
        </ul>
    </li>
    <li>
       <a class="nav-link " asp-area="" asp-controller="Home" asp-action="insumosComputacion">insumos Computacion</a>
      <ul>
        <div class="container">
            <div class="row">
                <li><a href="#0">Cartuchos</a></li>
                <li><a href="#0">Toners</a></li>
                <li><a href="#0">Mouse y teclado</a></li> 
            </div>
        </div>
      </ul>
    </li>
    <li>
       <a class="nav-link " asp-area="" asp-controller="Home" asp-action="libreriaTecnica">Libreria Técnica</a>
      <ul>
        <li><a href="#0">Escuadras</a></li>
        <li><a href="#0">Transpotadores</a></li>
        <li><a href="#0">Lapices graduados</a></li>
      </ul>
    </li>
    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a></li>
    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a></li>

  </ul>

      
      </li>
    </ul>
                    <button style="background-color:#1190CB; border:none;"> <a class="nav-link" asp-area="" asp-controller="Home" asp-action="carrito"><i class="fa fa-shopping-cart" style= "font-size:36px;color:white"></i></a> </button>
                   
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - proyectoFinalDev - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
   
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
