@{
    ViewData["Title"] = "Carrito";
}

@foreach (Producto item in ViewBag.Carrito.ListarProductos())
{
    <div class="container-cart" style="margin-bottom:10px;">
            
                <h3><img class='cart-img' src=@item.foto alt=""></h3>
                <h5 class="cart-info">@item.nombre</h5>
                 <h5 class="cart-info" style="font-weight: bold;">$@item.precio</h5>
            

    </div>

}

