@{
    ViewData["Title"] = "Carrito";
}
<h1>Despues Visits:@ViewBag.visits2 </h1>

@foreach (Producto item in ViewBag.Carrito.ListarProductos())
{
    <div class="container-cart">
        <div class="row">
            <div class="col-md-2"></div> 
            <div class="col-md-10">
                <h5 class="cart-info">@item.foto</h5>
                <h5 class="cart-info">@item.nombre</h5>
                 <h5 class="cart-info">@item.descripcion</h5>
            </div>
        </div>

    </div>

}

