<h1>Contacto</h1>

    <div class="container">
      <div class="row">
        <div class="col-2"></div>
      <div class="col-8">
        <div class="form-group">
          <label for="exampleFormControlInput1">Nombre</label><br>
          <input type="text" class="form-control" id="nombre" placeholder="Por favor ingrese su nombre" required><br>
          <label for="exampleFormControlInput2">Cual es su consulta?</label><br>
          <input type="number" class="form-control" id="consulta" placeholder="Porfavor escriba cual es su consulta"><br>
          <label for="exampleFormControlSelect1">Tipo</label><br>
          <select class="form-control" id="tipoConsulta"><br>
            <option value="" disabled selected hidden>Ingrese el tipo de consulta (opcional)</option>
            <option value="tecnica">Tecnica</option>
            <option value="asesoramiento">Asesoramiento</option>
            <option value="consulta">Consulta general</option>
       
          </select>
         
        </div>
      </div>
    </div>
  </div>
  <div class="button">
    <input type="button" onclick="Buscar()" class="btn mt-4" id="btn" value="Enviar">
    
  </div>
  ffff